<h1>Admins:: Manage Movies</h1>
<section class="manage_movie">
  <table class="data_column_names">
    <tr>
      <td class="movie_title">Title</td>
      <td class="date">From</td>
      <td class="date">To</td>
      <td></td>
    </tr>
  </table>
  <div class="data_body">
    <% @movies.each do |movie| %>
    <table class="data_row movie" id="<%= movie.id %>">
      <tr>
        <td class="movie_title"><%= movie.title %></td>
        <td class="date"><%= movie.date_from %></td>
        <td class="date"><%= movie.date_to %></td>
        <td></td>
      </tr>
    </table>
    <div class="hidden_div" id="update<%= movie.id %>">
      <div class="poster">
        <img src="https://image.tmdb.org/t/p/w185<%= movie.tmdb_poster %>">

        <% unless movie.youtube_num=="" %>
          <%= link_to "Trailer", "https://www.youtube.com/watch?v=#{movie.youtube_num}", target:"_blank" %>
        <% end %>
      </div>
      <%= form_for movie do |f| %>
      <div class="form_item">
        <%= f.label "TMDB ID"%>
        <%= f.text_field :tmdb_num %>
      </div>
      <div class="form_item">
        <%= f.label "YOUTUBE ID"%>
        <%= f.text_field :youtube_num %><br>
      </div>
      <div class="form_item">
        <%= f.label "From"%>
        <%= f.date_field :date_from %>
      </div>
      <div class="form_item">
        <%= f.label "To"%>
        <%= f.date_field :date_to %>
      </div>
      <% end %>
      <div class="form_button">
        <%= submit_tag "UPDATE", form:"edit_movie_#{movie.id}" %>
        <%= button_to 'DELETE', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
    <table class="data_row add" id="add_movie"><tr>
      <td>: : ADD NEW MOVIE : :</td></tr>
    </table>
    <div class="hidden_div" id="new_movie">
      <%= form_for @movie do |f| %>
      <div class="form_item">
        <%= f.label "TMDB ID"%>
        <%= f.text_field :tmdb_num %>
      </div>
      <div class="form_item">
        <%= f.label "YOUTUBE ID"%>
        <%= f.text_field :youtube_num %><br>
      </div>
      <div class="form_item">
        <%= f.label "From"%>
        <%= f.date_field :date_from,value:@today %>
      </div>
      <div class="form_item">
        <%= f.label "To"%>
        <%= f.date_field :date_to %>
      </div>
      <div class="form_button">
        <%= f.submit "CREATE MOVIE"%>
      </div>
      <% end %>
    </div>
  </div>
</section>
<%= javascript_include_tag 'manage'%>
