<h1>Admins:: Manage Show Times</h1>
<section class="manage_movie">
  <table class="data_column_names">
    <tr>
      <td class="movie_title">Title</td>
      <td class="date">From</td>
      <td class="date">To</td>
      <td></td>
    </tr>
  </table>
  <div class="data_body">
    <% @movies.each do |movie| %>
      <table class="data_row movie" id="<%= movie.id %>">
        <tr>
          <td class="movie_title"><%= movie.title %></td>
          <td class="date"><%= movie.date_from %></td>
          <td class="date"><%= movie.date_to %></td>
          <td></td>
        </tr>
      </table>
      <div class="hidden_div" id="update<%= movie.id %>">
        <div>
          <div class="poster">
            <img src="https://image.tmdb.org/t/p/w185<%= movie.tmdb_poster %>">
          </div>

        </div>
        <table class="data_row add add_show_times_movie" id="<%= movie.id %>"><tr>
          <td>: : ADD NEW SHOW TIMES : :</td></tr>
        </table>
        <div class="hidden_div" id="new_show_times_movie<%= movie.id %>">
          <div class="form_item">
            <label>From : </label><input type="date" id="show_times_from<%= movie.id %>" value="<%= @today %>">
          </div>
          <div class="form_item">
            <label>To : </label><input type="date" id="show_times_to<%= movie.id %>" value="<%= @today+7 %>">
          </div>
          <div class="form_item">
            <label>Theater : </label>
            <select name="theater" class="theater_select" id="theater_option<%= movie.id %>">
              <option>Select</option>
              <% @theaters.each do |theater| %>
  					    <option><%= theater.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form_item">
            Runtime+Padding(30mins):<span class="runtime"> <%= (movie.runtime+30)/60 %>:<%= ((movie.runtime+30)%60<10)?("0#{(movie.runtime+30)%60}"):((movie.runtime+30)%60) %></span>
          </div>
          <div class="form_button">
            <input type="button" class="new_show_times_get_dates" id="<%= movie.id %>" value="NEXT">
          </div>
          <%= form_tag '/show_times/by_movie', method: :get do %>
          <input type="hidden" name="movie_id" value="<%= movie.id %>">
          <div class="js_form"id="form_show_times_movie<%= movie.id %>"></div>

          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<%= javascript_include_tag 'manage'%>
