<% error=0 %>


<h1>Show Times Generator Check Point</h1>
<section class="check_create_by_movie">
<h2><%= @movie.title %> <small>(Theater Name :<%= @theater.name %>)</small></h2>

<table>
<% @show_times_array.each do |show_date|%>
<tr>
  <td><%= show_date.keys[0] %> </td>

    <% for i in 0...show_date[show_date.keys[0]].length do  %>
      <td><div class="slot <%= (show_date[show_date.keys[0]][i][:is_new])? 'new':'old'  %>">
        <% movie_start=show_date[show_date.keys[0]][i][:show_time] %>
        <% movie_end=show_date[show_date.keys[0]][i][:show_time]+(show_date[show_date.keys[0]][i][:runtime].to_i+@padding_time)*60 %>
        <% unless i==0 %>
          <% previous_movie_end=show_date[show_date.keys[0]][i-1][:show_time]+(show_date[show_date.keys[0]][i-1][:runtime].to_i+@padding_time)*60 %>
          <% if previous_movie_end > movie_start %>
            <% problem="time_comflict" %>
            <% error+=1 %>
          <% else %>
            <% problem=nil %>
          <% end %>
        <% end %>
        <p class="slot_string <%= problem if problem %>"><%= show_date[show_date.keys[0]][i][:movie_title] %><br>
          <%= movie_start.strftime("%H:%M") %>~<%= movie_end.strftime("%H:%M") %>
        </p>
      </div>
      </td>

    <% end %>
</tr>
<% end %>
</table>
<p class="time_comflict"><%= "ERROR! There are time conflicts on the schedule" unless error==0 %></p>


<%= form_tag '/show_times/by_movie', method: :post do %>
<% valid_dates_array=""%>
  <input type="hidden" name="movie_id" value="<%= params[:movie_id] %>">
  <input type="hidden" name="theater" value="<%= params[:theater] %>">

  <table class="manage_movie">
  <% dates=params[:dates].split(/,/) %>
  <% dates.each do |date_string| %>
    <% date_componants=date_string.split("-")%>
    <% date=Date.new(date_componants[0].to_i,date_componants[1].to_i,date_componants[2].to_i) %>
    <% unless params[date_string.to_sym] == "" %>
    <% valid_dates_array +=(valid_dates_array.length==0)?(date_string):(",#{date_string}") %>
      <tr>
        <td>(<%=date.strftime("%^a")%>)</td>
        <td><%=date_string%></td>
        <td><input type="textarea" class="times" name="<%= date_string %>" value="<%=params[date_string.to_sym]%>"></td>
      <tr>
    <% end # end for unless %>

  <% end # end for date.each %>
  </table>
  <input type="hidden" name="dates" value="<%= valid_dates_array %>">
  <div class="form_button"><input type="submit" value="CHECK AGAIN"></div>
<% end %>


</div>
