<h1>ShowTimes#create</h1>
<p>Find me in app/views/show_times/create.html.erb</p>
<p><%= params %></p>
<p>movie_title > <%= @movie_id.title %></p>
<p>theater > <%= @theater.name %></p>
<p>cur_times >

  <% @cur_show_time.each do |cur| %>
  <%= cur.movie.title %>
  <%= cur.movie.runtime %>
  <%= cur.time_at %>
  <% end %>

</p>
<p>show_times > </p>
<% @new_show_times.each do |k|%>



  <p>
    <%= k[k.keys[0]][0].strftime("%Y-%m-%d(%^a)") %> :
    <% k[k.keys[0]].each do |time| %>
      <p><%= time%></p>
    <% end%>
  </p>

<% end %>
