<!DOCTYPE html>
<html>
<head>
  <title>M Theater</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= image_tag "logo.png", class: "logo" %>
  <nav class="public">
    <ul>
      <li><%= link_to "Movies", root_path %></li>
      <li><%= link_to "Buy Ticket", buy_ticket_step1_path %></li>
      <% if current_user %>
        <li><%= link_to "My Page", user_path(current_user) %></li>
        <li><%= link_to "Logout", session_path(current_user), :method=>:delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_path %></li>
        <li><a href="#" class="login">Login</a></li>
      <% end %>
    </ul>
  </nav>
  <% if current_user && current_user.access_level > 0 %>
  <nav class="admin">
    <ul>
      <li>Admin:</li>
      <li><%= link_to "Movies", admins_movies_path %></li>
      <li><%= link_to "Show Times", admins_show_times_path %></li>
    </ul>
  </nav>
  <% end %>
  <div class="login_form">
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %><br>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %><br>
        <%= password_field_tag :password %>
      </div>
      <div class="field actions"><%= submit_tag "Log in" %></div>
    <% end %>
  </div>
</header>

<div class="yield">
<% flash.each do |k, v| %>
  <h3 class="flash"><%= v %><h3>
<% end %>
<%= yield %>
</div>
<footer>
  <p>M Cinemas. © Copyright 2015 Imtaek Hong.<p>
  <div class="line"></div>
  <%= image_tag "facebook.png", class: "footer_icon" %>
  <%= image_tag "instagram.png", class: "footer_icon" %>
  <%= image_tag "twitter.png", class: "footer_icon" %>
</footer>

</body>
</html>
<%= javascript_include_tag 'public'%>
