<!DOCTYPE html>
<html>
<head>
  <title>M Theater</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= image_tag "logo.png", class: "logo" %>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Movies", admins_movies_path %></li>
      <li><%= link_to "Show Times", admins_show_times_path %></li>
      <li><%= link_to "Buy Ticket", buy_ticket_step1_path %></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>

<div class="yield">
<% flash.each do |k, v| %>
  <h3 class="flash"><%= v %><h3>
<% end %>
<%= yield %>
</div>
<footer>
  <p>M Cinemas. © Copyright 2015 Imtaek Hong.<p>
  <div class="line"></div>
  <%= image_tag "facebook.png", class: "footer_icon" %>
  <%= image_tag "instagram.png", class: "footer_icon" %>
  <%= image_tag "twitter.png", class: "footer_icon" %>
</footer>

</body>
</html>
<%= javascript_include_tag 'public'%>
